<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>有随堂作业</title>

    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div id="app" class="container-fluid">
    <br>
    <div class="card">
        <img src="../resources/example.jpg" alt="随堂练习题截图" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">
                题目描述
            </h5>
            <p class="card-text">
                题目答案题目答案题目答案题目答案题目答案题目答案
                题目答案题目答案题目答案题目答案题目答案题目答案
                题目答案题目答案题目答案题目答案题目答案题目答案
            </p>
        </div>
    </div>
    <br>
    <div id="knowledge_point">
        <div>知识点掌握情况:</div>
        <span>弱&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <div class="form-check form-check-inline">
            <input type="radio"
                   name="knowledge_point"
                   id="knowledge_point_1"
                   v-model="knowledge_point"
                   class="form-check-input"
                   value="1">
            <label for="knowledge_point_1" class="form-check-label">1&nbsp;</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio"
                   name="knowledge_point"
                   id="knowledge_point_2"
                   v-model="knowledge_point"
                   class="form-check-input"
                   value="2">
            <label for="knowledge_point_2" class="form-check-label">2&nbsp;</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio"
                   name="knowledge_point"
                   id="knowledge_point_3"
                   v-model="knowledge_point"
                   class="form-check-input"
                   value="3">
            <label for="knowledge_point_3" class="form-check-label">3&nbsp;</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio"
                   name="knowledge_point"
                   id="knowledge_point_4"
                   v-model="knowledge_point"
                   class="form-check-input"
                   value="4">
            <label for="knowledge_point_4" class="form-check-label">4&nbsp;</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio"
                   name="knowledge_point"
                   id="knowledge_point_5"
                   v-model="knowledge_point"
                   class="form-check-input"
                   value="5">
            <label for="knowledge_point_5" class="form-check-label">5&nbsp;</label>
        </div>
        <span>强</span>
    </div>
    <br>
    <div id="emotion">
        <div>当前情绪状态:</div>
        <button type="button" class="btn"
                @click="emotion = 1"
                :class="{'btn-warning': emotion === 1, 'btn-secondary': emotion !== 1}">
            感兴趣
        </button>
        <button type="button" class="btn"
                @click="emotion = 2"
                :class="{'btn-warning': emotion === 2, 'btn-secondary': emotion !== 2}">
            高&nbsp;&nbsp;&nbsp;&nbsp;兴
        </button>
        <button type="button" class="btn"
                @click="emotion = 3"
                :class="{'btn-warning': emotion === 3, 'btn-secondary': emotion !== 3}">
            放&nbsp;&nbsp;&nbsp;&nbsp;松
        </button>
        <br>
        <br>
        <button type="button" class="btn"
                @click="emotion = 4"
                :class="{'btn-warning': emotion === 4, 'btn-secondary': emotion !== 4}">
            厌&nbsp;&nbsp;&nbsp;&nbsp;倦
        </button>
        <button type="button" class="btn"
                @click="emotion = 5"
                :class="{'btn-warning': emotion === 5, 'btn-secondary': emotion !== 5}">
            痛&nbsp;&nbsp;&nbsp;&nbsp;苦
        </button>
        <button type="button" class="btn"
                @click="emotion = 6"
                :class="{'btn-warning': emotion === 6, 'btn-secondary': emotion !== 6}">
            生&nbsp;&nbsp;&nbsp;&nbsp;气
        </button>
    </div>
    <hr>
    <button type="button" class="btn btn-success">下一题</button>
</div>

<script src="https://cdn.bootcss.com/vue/2.6.6/vue.js"></script>
<script>
    const app = new Vue
    (
        {
            el: '#app',
            data:
                {
                    knowledge_point: '1',
                    emotion: 1
                }
        }
    )
</script>
</body>
</html>