<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生用户</title>

    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="app" class="container-fluid">
    <br>
    <h3 class="text-center">请登录</h3>
    <form>
        <div class="form-group">
            <label for="id">学号</label>
            <input type="text" class="form-control" id="id" placeholder="请输入学号" v-model="id">
        </div>
        <div class="form-group">
            <label for="seat">座位号</label>
            <input type="text" class="form-control" id="seat" placeholder="请输入你的座位号" v-model="seat">
        </div>
        <div class="form-group">
            <label for="phone">电话号</label>
            <input type="text" class="form-control" id="phone" placeholder="请输入你的电话号" v-model="phone">
        </div>
        <button type="submit" class="btn btn-primary" @click.prevent="success">登录</button>
    </form>
</div>

<script src="https://cdn.bootcss.com/vue/2.6.6/vue.js"></script>
<script>
    const app = new Vue
    (
        {
            el: '#app',
            data:
                {
                    id: '00000000',
                    seat: '250',
                    phone: '12345678901'
                },
            methods:
                {
                    login: function()
                    {
                        let url = '//' + location.host + '/check_id' + '?'
                            + 'id=' + this.id
                        const xhr = new XMLHttpRequest()
                        xhr.open('get', url, true)
                        xhr.onload = () =>
                        {
                            if(xhr.status === 200)
                            {
                                const data = JSON.parse(xhr.responseText)
                                console.log(data)
                                if(data.ok)
                                {
                                    this.success()
                                }
                                else
                                {
                                    alert('学号错误')
                                }
                            }
                            else
                            {
                                alert('网络错误')
                            }
                        }
                        xhr.send()
                        console.log(this.id + this.seat + this.phone)
                    },
                    success: function()
                    {
                        localStorage.setItem('id', this.id)
                        localStorage.setItem('seat', this.seat)
                        localStorage.setItem('phone', this.phone)
                        const xhr = new XMLHttpRequest()

                        xhr.open('get', 'data/homepage.json', true)
                        xhr.onload = () =>
                        {
                            if(xhr.status === 200)
                            {
                                const data = JSON.parse(xhr.responseText)
                                if(data.page === '0')
                                {
                                    location.assign('//' + location.host + '/homework_off.html')
                                }
                                else
                                {
                                    location.assign('//' + location.host + '/homework_on.html')
                                }
                            }
                            else
                            {
                                alert('获取数据失败')
                            }
                        }
                        xhr.send()

                    }
                }
        }
    )
</script>
</body>
</html>